.pseudoPersonneMenu{
	color: red;
	text-align: center;
	padding: 5% 10% 0% 20%;
}

.inscription{
	background-color:white;
	padding: 10% 0% 5% 5%;
	color: black;
	border-top-width: 0px; 
	border-top-style: solid;
	margin-top: 3%;
}

.policeGrise{
	color: #BDBDBD !important;
}